@using PagedList.Mvc
@model PagedList.IPagedList<MvcForum.Models.EntityModels.Admin.Log>

@{
    ViewBag.Title = "Log";
}

<h2>Log</h2>

@Html.ActionLink("Clear Log", "Clear", null, new { @class = "btn btn-danger" })
@foreach (var item in Model)
{
    <div class="panel panel-primary">
        <h3 class="panel-body"><strong>@item.Username</strong> @item.Action on @item.LoggedAt</h3>
    </div>

}

    Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
    @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
