@using PagedList.Mvc
@model PagedList.IPagedList<MvcForum.Models.EntityModels.Post>
@{
    ViewBag.Title = $"Category Posts";
}
<h2>Posts</h2>
<div class="container">

    @foreach (var item in Model)
    {
        <a href="/Posts/Details/@item.Id">
            <div class="panel panel-default">
                <table class="table table-hover">
                    <tbody>
                        <tr>
                            <td>
                                <h4>@item.Topic</h4>
                                <h6>By: @item.Author.UserName</h6>
                            </td>
                            @if (User.Identity.Name == item.Author.UserName || User.IsInRole("Administrator"))
                            {

                                <td class="text-right text-nowrap">
                                    <span class="btn-group clearfix">
                                        @Html.ActionLink("Delete", "Delete", "Posts", new { id = item.Id }, new { @class = "btn btn-danger pull-right" })
                                    </span>

                                </td>
                            }
                        </tr>
                    </tbody>
                </table>
            </div>
        </a>
    }
    Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
    @Html.PagedListPager(Model, page => Url.Action("Category", new { page }))
    @Html.ActionLink("« Back to List", "Index", "Forum", null, new { @class = "btn btn-danger" })
</div>
