@model MvcForum.Models.EntityModels.Post

@{
    ViewBag.Title = "Post";
}

<h2>
    @Model.Topic
</h2>
<h5>
    Category: @Model.Category.Name
</h5>
<br />
<h4>@Model.Author.UserName</h4>
<h5>Posted On: @Model.CreatedOn </h5>
<br />
<p>
    @Model.Content
</p>
@if (!string.IsNullOrEmpty(Model.YoutubeUrl))
{
    <h6><i>Video linked</i></h6>
    <iframe src="@Model.YoutubeUrl"></iframe>
}
<hr />
<div>
    <h2>Comments</h2>
    <br />
    @foreach (var item in Model.Comments)
    {
        <div class="panel panel-default">
            <table class="table table-hover">
                <tbody>
                    <tr>
                        <td>
                            <p>@item.Content</p>
                            @if (!string.IsNullOrEmpty(item.YoutubeUrl))
                            {
                                <h6><i>Video linked</i></h6>
                                <iframe src="@Model.YoutubeUrl"></iframe>
                            }
                            <h6>By: @item.Author.UserName</h6>
                            <h6>Posted On: @item.CreatedOn</h6>
                        </td>
                    </tr>
                    @if (User.Identity.Name == item.Author.UserName || User.IsInRole("Administrator"))
                    {
                        <tr>
                            <td class="text-right text-nowrap">
                                <span class="btn-group clearfix">
                                    @Html.ActionLink("Delete", "Delete", "Comments", new { id = item.Id }, new { @class = "btn btn-danger pull-right" })
                                </span>

                            </td>
                        </tr>
                    }
                    </tbody>
                </table>
            </div>
    }
</div>
<hr />
<h3>Got an opinion?</h3>
@Html.ActionLink("Write Your Comment!", "Create", "Comments", new { id = Model.Id }, new {@class = "btn btn-primary"})
<br />
<div>
    @Html.ActionLink("« Back to Posts", "Category", "Forum", new { id = Model.Category.Id }, new { @class = "btn btn-danger" })
</div>


